@use 'variaveis';
@use 'noticias';
@use 'header';


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: variaveis.$fontePrincipal;
}

img{
  max-width: 100%;
}

body{
  background-color: variaveis.$bgColor;
}

.container{
  padding: 16px 64px;
}

#botao{
  color: variaveis.$corTextoBotao;
  background-size: contain;
  box-shadow: 0 12px 24px rgba(63,101,97,.3);
  font-size: 18px;
  height: 32px;
  line-height: 1.5;
  margin: 0 14px;
  min-width: 108px;
  background-image: url('../images/fundoBotao.png');
  border-radius: 8px;
}

